<h1 class="squatch-title">
  Give

  {{programDetails.referredRewardDetails.credit}}

  Month<span class="hidden-{{math programDetails.referredRewardDetails.credit '== 1'}}">s</span>

  and Get

  {{programDetails.referredRewardDetails.credit}}

  Month<span class="hidden-{{math programDetails.referredRewardDetails.credit '== 1'}}">s</span>!
</h1>
