<div class="squatch-share">

  <span class="label label-default fade" id="squatch-share-notification">Copied!</span>

  <button class="btn btn-primary icon-btn copy" data-clipboard-target="#squatch-share-code" data-clipboard-notification="#squatch-share-notification">
    {{variables 'widget.CONVERSION_WIDGET.content.widgetCustomization.buttonCopy'}}
  </button>

</div>
