<div class="squatch-register">

  {{variables 'widget.REFERRER_WIDGET.content.widgetCustomization.registrationHeader'}}

  <div class="form">
    <input id="squatch-user-email" class="form-control" placeholder="Email"/>
    <button id="squatch-send-email" class="btn btn-primary">Continue</button>
  </div>
</div>
