<div class="squatch-stats-body-actions">
  <button class="btn btn-default disabled" data-scroll-element="#squatch-referrals-scroll" data-scroll-increment="-3">Previous</button>

  <button class="btn btn-default" data-close-panel="#squatch-stats-panel" data-scroll-reset="#squatch-referrals-scroll">Hide Details</button>

  <button class="btn btn-default disabled" data-scroll-element="#squatch-referrals-scroll" data-scroll-increment="3">View More</button>
</div>
