<div class="squatch-share">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" id="squatch-share-link" value="{{shareLinks.shareLink}}" readonly="readonly">

      <span class="label label-default fade" id="squatch-share-notification">Copied!</span>

      <span class="input-group-btn">
        <button class="btn btn-primary icon-btn" data-clipboard-target="squatch-share-link" data-clipboard-notification="#squatch-share-notification">
          <i class="icon icon-link"></i>
          <span class="hidden-sm">Copy</span>
        </button>
      </span>
    </div>
  </div>

  <div class="clearfix">
    <a class="btn btn-email squatch-share-btn emailShare">
      <i class="icon icon-mail"></i>
      Email
    </a>

    <a class="btn btn-facebook squatch-share-btn fbShare">
      <i class="icon icon-facebook"></i>
      Share
    </a>

    <a class="btn btn-twitter squatch-share-btn twShare">
      <i class="icon icon-twitter"></i>
      Tweet
    </a>
  </div>
</div>
