<div class="squatch-stats" id="squatch-stats-panel">
  <div class="squatch-stats-body">
    {{> (stringFormat 'programs/%s/stats_summary' programDetails.referredRewardDetails.rewardType)}}
    {{> referrals}}
    {{> referrals_actions}}
    {{> attribution}}
  </div>
</div>
