<div class="squatch-stats" id="squatch-stats-panel">
  <div class="squatch-stats-body">
    {{!-- TODO: Switch the second line below out with the line directly below when we've updated to Handlebars.java 2.2.0 --}}
    {{!-- {{> (stringFormat 'programs/%s/stats_summary' programDetails.referredRewardDetails.rewardType) }} --}}
    {{> programs/TIME_CREDIT/stats_summary}}
    {{> referrals}}
    {{> referrals_actions}}
    {{> attribution}}
  </div>
</div>
